.App {
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  background-color: #93b5a4;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 20px 10px;
}

th {
  padding: 12px 0px;
  color: white;
  background-color: #2c22b9;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #cfcfcf;
}

tr:hover {
  background-color: #8a8a8a;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkboxDiv input {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.checkboxDiv label {
  padding: 10px;
}

button {
  margin: 0px 10px;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: rgb(126, 121, 121);
}

.error-text {
  color: red;
  margin-left: 25px;
  margin-bottom: 25px;
}

.deleteBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(126, 121, 121);
}

.editBtn {
  color: black;
  background-color: green;
}

.cancelBtn {
  color: black;
  background-color: white;
  border: 1px solid blue;
}

img {
  max-width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

hr {
  margin: 25px;
}